.pokemons-list-modal-49bq {
  height: 100%;
  width: 100%;

  .users-id-96jk__user-pokemons {
    height: 100%;

    .pokemons-96jk__user-pokemons-list {
      overflow-y: scroll;
      height: 100%;

      .pokemons-96jk__user-pokemons-grid {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        grid-template-rows: repeat(auto-fill, 20rem);
        justify-content: center;
        display: grid;
        height: 100%;
        gap: 20px;
      }
    }
    .users-id-96jk__user-pokemons-pokemon {
      .pokemon_thumb-96jk {
        width: 50rem;
      }
      > * {
        width: 100%;
      }
    }
  }
}
