.layout-09lk {
  max-width: 80rem;
  padding-right: var(--dr-spacing-6);
  width: 100%;

  .layout-09lk__users {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-template-rows: auto;
    gap: var(--dr-spacing-4);
  }

  .layout-09lk__empty {
    max-width: 50rem;
    width: 100%;
  }
}
