.users-id-96jk {
  max-width: 101rem;
  padding-right: var(--dr-spacing-6);
  width: 100%;

  .users-id-96jk__user-bio__avatar {
    object-position: center;
    border-radius: 50%;
    object-fit: cover;
    height: 15rem;
    width: 15rem;
  }

  .users-id-96jk__user-pokemons {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    column-gap: var(--dr-spacing-4);
    display: grid;
  }

  .users-id-user-bio-96jk_badges {
    img {
      height: 10rem;
      width: 10rem;
    }
  }
}
