.users-id-96jk {
  max-width: 80rem;
  padding-right: var(--dr-spacing-6);
  width: 100%;

  .users-id-96jk__user-bio__avatar {
    object-position: center;
    border-radius: 50%;
    object-fit: cover;
    height: 8rem;
    width: 8rem;
  }
}
