.random-pokemon-picker-19bt {
  .random-pokemon-picker-19bt__loading-animation,
  .random-pokemon-picker-19bt__monster {
    display: block;
    height: auto;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
    background: url("your-image.png") no-repeat center/contain;
    filter: drop-shadow(0 0 10px var(--dr-alpha))
      drop-shadow(0 0 20px var(--dr-alpha))
      drop-shadow(0 0 30px var(--dr-alpha));

    @keyframes glow {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px var(--dr-theta),
          0 0 30px var(--dr-theta), 0 0 40px var(--dr-theta),
          0 0 50px var(--dr-theta), 0 0 60px var(--dr-theta),
          0 0 70px var(--dr-theta);
      }
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px var(--dr-theta),
          0 0 40px var(--dr-theta), 0 0 50px var(--dr-theta),
          0 0 60px var(--dr-theta), 0 0 70px var(--dr-theta),
          0 0 80px var(--dr-theta);
      }
    }

    .random-pokemon-picker-19bt__monster--monster {
      position: relative;
      width: 100%;
      z-index: 2;

      img {
        width: 100%;
      }
    }
  }
  .random-pokemon-picker-19bt__loading-animation {
    img {
      width: 100%;
    }
  }
}
