.random-task-picker-82mv {
  height: 100%;
  width: 100%;
  // -------- 👇 glassmorphism
  // box-shadow: 0 1px 24px -1px rgba(0 0 0 / 10%);
  // background-image: linear-gradient(
  //   150deg,
  //   rgba(220, 220, 220, 0.4) 0%,
  //   rgba(255 255 255 / 10%) 100%
  // );
  // color: rgba(240 240 240 / 0.7);
  // transition: transform 0.2s ease-out;
  // animation-iteration-count: infinite;
  // animation-timing-function: linear;
  // border: 0.5px solid white;
  // backdrop-filter: blur(20px);
  // animation-fill-mode: both;
  // will-change: transform;
  // animation-duration: 6s;
  // border-radius: 2rem;
  // position: absolute;
  // overflow: hidden;
  // width: 100%;
  // height: 40%;
  // bottom: 0;
  // left: 0;

  .random-task-picker-82mv__timer {
    background-color: var(--dr-alpha);
    transition: 999ms linear;
    position: absolute;
    min-width: 2rem;
    height: 2rem;
    left: 0;
    top: 0;
  }

  // .random-task-picker-82mv__close {
  //   position: absolute;
  //   cursor: pointer;
  //   padding: 1rem;
  //   right: 0;
  //   top: 0;
  // }

  * {
    color: var(--dr-beta);
  }

  button,
  button * {
    color: var(--dr-alpha);
  }
}
