.pokemon-thumb-06bq {
  background-color: rgba(var(--dr-epsilon-rgb), 0.25);

  .pokemon-thumb-06bq_name {
    text-overflow: ellipsis;
    translate: 0 1rem;
    overflow: hidden;
    text-wrap: nowrap;
    width: 80%;
  }

  &:hover {
    background-color: rgba(var(--dr-epsilon-rgb), 0.5);
    transition: all 0.3s;
    scale: 0.95;
  }
}
