.battle-ground-11jt {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;

  .battle-ground-11jt__container {
    background-color: rgba(var(--dr-beta-rgb), 0.25);
    height: 100%;
    width: 100%;

    .battle-ground-11jt__content {
      position: relative;
      height: 100%;
      width: 100%;
      z-index: 2;
    }

    h1 {
      width: 100%;
      position: absolute;
      bottom: 20rem;
      left: 0;
      right: 0;
      top: auto;
      margin: auto;
      text-align: center;
      font-size: 10rem;
      color: var(--dr-alpha);
      text-shadow: 0 0 5px var(--dr-alpha), 0 0 10px var(--dr-alpha),
        0 0 20px var(--dr-eta), 0 0 30px var(--dr-eta), 0 0 40px var(--dr-eta),
        0 0 50px var(--dr-eta), 0 0 60px var(--dr-eta), 0 0 70px var(--dr-eta);

      span {
        text-shadow: 0 0 5px var(--dr-alpha), 0 0 10px var(--dr-alpha),
          0 0 20px var(--dr-theta), 0 0 30px var(--dr-theta),
          0 0 40px var(--dr-theta), 0 0 50px var(--dr-theta),
          0 0 60px var(--dr-theta), 0 0 70px var(--dr-theta);
      }
    }

    /* Optional animation to make the glow pulsate */
    h1:hover {
      animation: glow 1.5s ease-in-out infinite alternate;
    }

    .battle-ground-11jt__character {
      position: absolute;
      max-width: 50rem;
      margin: auto;
      z-index: 1;
      width: 80%;
      bottom: 0;
      right: 0;
      left: 0;
      top: auto;

      img {
        object-position: center;
        object-fit: contain;
        height: 100%;
        width: 100%;
      }

      .battle-ground-11jt__sphere {
        position: absolute;
        margin: auto;
        bottom: auto;
        width: 5rem;
        right: 15%;
        left: auto;
        top: 15%;
      }
    }
  }
}
