.fill-in-the-blank-11ta {
  max-width: 80rem;

  .fill-in-the-blank-11ta__task {
    input {
      box-shadow: 0 1px 24px -1px rgba(0 0 0 / 10%);
      background-image: linear-gradient(
        150deg,
        rgba(var(--dr-alpha-rgb), 0.4) 0%,
        rgba(var(--dr-alpha-rgb) / 10%) 100%
      );
      color: rgba(240 240 240 / 0.7);
      transition: transform 0.2s ease-out;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      background-color: transparent;
      border: 0.5px solid white;
      backdrop-filter: blur(20px);
      animation-fill-mode: both;
      will-change: transform;
      animation-duration: 6s;
      border-radius: 2rem;
      // min-width: 4rem;
    }
  }
}
