.pokemon-thumb-06bq {
  background-color: rgba(var(--dr-epsilon-rgb), 0.25);
  img {
    height: 15rem;
    width: 15rem;
  }

  .pokemon-thumb-06bq_name {
    margin-bottom: -1rem;
    width: 80%;
  }

  &:hover {
    background-color: rgba(var(--dr-epsilon-rgb), 0.5);
    transition: all 0.3s;
    scale: 0.95;
  }
}
