.modal-header-ttyk35 {
  position: relative;
  width: 100%;
  background-image: linear-gradient(-10deg, var(--dr-zeta), var(--dr-epsilon));
  height: 10rem;
  z-index: 2;
  top: 0;

  .header__curve-ttyk35 {
    width: 100%;
    height: 3rem;
    position: absolute;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    bottom: 0;
    left: 0;
  }

  .header__heading-ttyk35 {
    position: absolute;
    left: 0;
    top: 2rem;
  }
}
