.fill-in-the-blank-11ta {
  max-width: 80rem;

  .fill-in-the-blank-11ta__task {
    input {
      background-image: linear-gradient(
        150deg,
        rgba(var(--dr-alpha-rgb), 0.4) 0%,
        rgba(var(--dr-alpha-rgb) / 10%) 100%
      );
      transition: transform 0.2s ease-out;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      background-color: transparent;
      border-bottom: 1px solid white;
      backdrop-filter: blur(20px);
      animation-fill-mode: both;
      will-change: transform;
      animation-duration: 6s;
    }
  }
}
