.random-pokemon-picker-19bt {
  .random-pokemon-picker-19bt__loading-animation,
  .random-pokemon-picker-19bt__monster {
    position: absolute;
    max-width: 25rem;
    display: block;
    margin: auto;
    bottom: auto;
    top: 5rem;
    right: 0;
    left: 0;
    // ------ glow effect ------ //
    position: absolute;
    height: auto;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
    background: url("your-image.png") no-repeat center/contain;
    filter: drop-shadow(0 0 10px var(--dr-alpha))
      drop-shadow(0 0 20px var(--dr-alpha))
      drop-shadow(0 0 30px var(--dr-alpha));
    z-index: -1;

    h3 {
      left: calc(-50vw + 50%);
      position: relative;
      width: 99.7vw;
      font-size: 8rem;
      color: var(--dr-alpha);
      text-shadow: 0 0 5px var(--dr-alpha), 0 0 10px var(--dr-alpha),
        0 0 20px var(--dr-theta), 0 0 30px var(--dr-theta),
        0 0 40px var(--dr-theta), 0 0 50px var(--dr-theta),
        0 0 60px var(--dr-theta), 0 0 70px var(--dr-theta);
    }

    /* Optional animation to make the glow pulsate */
    h3:hover {
      animation: glow 1.5s ease-in-out infinite alternate;
    }

    @keyframes glow {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px var(--dr-theta),
          0 0 30px var(--dr-theta), 0 0 40px var(--dr-theta),
          0 0 50px var(--dr-theta), 0 0 60px var(--dr-theta),
          0 0 70px var(--dr-theta);
      }
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px var(--dr-theta),
          0 0 40px var(--dr-theta), 0 0 50px var(--dr-theta),
          0 0 60px var(--dr-theta), 0 0 70px var(--dr-theta),
          0 0 80px var(--dr-theta);
      }
    }

    .random-pokemon-picker-19bt__monster--monster {
      position: relative;
      width: 100%;
      z-index: 2;

      img {
        width: 100%;
      }
    }

    .random-pokemon-picker-19bt__monster--pokeball {
      position: absolute;
      display: none;
      z-index: 1;
      margin: auto;
      height: 5rem;
      width: 5rem;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;

      img {
        object-position: center;
        object-fit: contain;
        position: absolute;
        margin: auto;
        display: block;
        width: 100%;

        &:last-child {
          z-index: 1;
          top: 0;
        }

        &:first-child {
          z-index: 2;
          top: 0;
        }
      }
    }
  }

  &.caught {
    .random-pokemon-picker-19bt__monster {
      margin-top: 5rem;

      .random-pokemon-picker-19bt__monster--monster {
        transition: 1000ms ease-in-out;
        position: relative;
        margin: auto;
        width: 50%;
        z-index: 1;
      }

      .random-pokemon-picker-19bt__monster--pokeball {
        display: block;
        width: 100%;
        height: 100%;
        z-index: 2;

        img {
          &:last-child {
            z-index: 1;
            animation: openPokeballBottom 1000ms ease-in-out;
          }

          &:first-child {
            z-index: 2;
            animation: openPokeballTop 1000ms ease-in-out;
          }
        }
      }
    }
  }

  &.escaped {
    .random-pokemon-picker-19bt__monster--monster {
      animation: exitToRight 800ms ease-in-out;
      left: 100vw;
    }
  }
}

@keyframes exitToRight {
  0% {
    left: 0;
  }
  100% {
    left: 100vw;
  }
}

@keyframes openPokeballTop {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}

@keyframes openPokeballBottom {
  0% {
    top: 300px;
  }
  100% {
    top: 0;
  }
}

@keyframes bottomToTop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}
