.user-card-55bb {
  display: flex;
  align-items: center;
  gap: var(--dr-spacing-2);
  height: 16rem;

  .user-card-55bb_placement {
    border-top-left-radius: var(--dr-spacing-2);
    border-bottom-left-radius: var(--dr-spacing-2);
    height: 100%;
    width: 5rem;
  }

  .user-card-55bb_actions {
    overflow: hidden;
    height: 100%;

    > div {
      height: 50%;
      width: 100%;

      a,
      button {
        text-decoration: none;
        height: 100%;
      }
    }
    > div:first-child {
      border-top-right-radius: var(--dr-spacing-2);
    }
    > div:last-child {
      border-bottom-right-radius: var(--dr-spacing-2);
    }
  }

  &:hover {
    transition: scale 500ms ease-in-out;
    cursor: pointer;
    scale: 0.97;
  }
  img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--dr-alpha);
  }
  h3 {
    font-size: 2rem;
  }
}
