.settings-20mn {
  position: fixed;
  left: var(--dr-spacing-4);
  top: var(--dr-spacing-4);
  button {
    ion-icon {
      font-size: 4rem;
    }
  }
}

.settings-20mn__users {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 15rem));
  grid-template-rows: auto;
  gap: var(--dr-spacing-4);

  .settings-20mn__user {
    display: flex;
    align-items: center;
    gap: var(--dr-spacing-2);
    margin-bottom: var(--dr-spacing-2);

    &:hover {
      transition: scale 500ms ease-in-out;
      cursor: pointer;
      scale: 0.9;
    }
    img {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      background-color: var(--dr-alpha);
    }
    h3 {
      font-size: 2rem;
    }
  }
}
